In [22]:
import pandas as pd
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [23]:
#1
i = data['Sex'] == 'male'
print(data.loc[i, 'Sex'].count())

577

In [24]:
i = data['Sex'] == 'female'
print(data.loc[i, 'Sex'].count())

314

In [25]:
#2
i = data['Survived'] == 1
pecantage = (data.loc[i,'Survived'].count() / data['Survived'].count()) * 100
print(pecantage.round(2))

38.38

In [26]:
#3
i = data['Pclass'] == 1
pecantage = (data.loc[i,'Pclass'].count() / data['Pclass'].count()) * 100
print(pecantage.round(2))

24.24

In [74]:
#4
age = data['Age'].mean()
print(round(age,2))

29.7

In [16]:
print(data['Age'].median())

28.0

In [29]:
#5
corr = data['SibSp'].corr(data['Parch'])
print(round(corr,2))

0.41

In [30]:
corr = data['Parch'].corr(data['SibSp'])
print(round(corr,2))

0.41

In [73]:
from itertools import chain
from collections import Counter

def most_common(lst):
    return max(((item, lst.count(item)) for item in set(lst)), key=lambda a: a[1])[0]

def findFirstName(fullName):
    abbr = fullName.split(",")[1].split()[0]
    name = fullName.split(",")[1]
    if(abbr == "Miss."):
        return name.split()[1]
    elif(abbr == "Mrs."):
        preName = list(filter(lambda x: x.startswith('('), name.split()))
        return preName[0][1:] if (len(preName) > 0) else ""
    
def findFemaletName(fullName):
    abbr = fullName.split(",")[1].split()[0]
    return abbr == "Mrs." or abbr == "Miss."

i = data['Name'].apply(findFemaletName)
woomen = data.loc[i, 'Name']
names = woomen.apply(findFirstName)
print(*names, sep = ", ")

Florence, Laina, Lily, Elisabeth, Adele, Marguerite, Elizabeth, Hulda, Mary, Emelia, , Anna, Torborg, Selma, Ellen, Marie, Mary, Augusta, Jamila, Johanna, Dorothy, Simonne, Margaret, Bridget, Josefine, Myna, Elizabeth, Emily, Constance, Amelie, Elizabeth, Erna, Lillian, Elizabeth, Brigdet, Bertha, Maria, Mabel, Ada, Matilda, Anna, Bertha, Hileni, Katriina, Malake, Ellis, Susan, Anna, Grace, Mathilde, Helen, Sultana), Anna, Elin, Robina, Edith, Katherine, Elizabeth, Edith, Anna, Eleanor, Ann, Constance, Luise, Johanna, Rosa), Carla, Margaret, Elise, Margaret, Henriette, Telma, Helen, Clear, Madeleine, Eliina, Albina, Mathilde, Irene, Lillian, Alice, Marjorie, Thamine, Katherine, Agda, Anna), Elna, Helena, Hanne, , Gladys, Anna, Lutie, Delia, Edith, Amelia, Elizabeth, Hanora, Kornelia, Augusta, Rosa, Kate, Ellen, Helen, Aloisia, Helen, Helene, Anna, Nora, Margaret, Maria, Laura, Margaret, Emily, Anna, Helmina, Miriam, Mary, Margaretta, Hilda, Sylvia, Marie, Ada, Emily, Jean, Agnes, Clara, Elizabeth, Alice, Amelia, Marion, Mary, Elsie, Annie, Mary, Helen, Catherine, Anna, Mantoura, Annie, Stina, Leila, Aurora, Rosalie, Maria, Mary, Kate, Bertha, Marjorie, Agnes, Elina, Jessie, Mari, Marija, Ida, Daisy, Annie, Lulu, Lyyli, Catharina, Anna, Ada, Kate, Florence, Alice, Lucile, Doolina, Emily, Esther, Madeleine, Marie, Marion), Ellen, Helene, Ada, Marie, Ida, Hildur, Hedwig), Jeannie, Jane, Elizabeth, Bessie, Mary, Bridget, Kristina, Roberta, Jane, Elizabeth, Amelia, Florence, Anne, Ida, Lucy, Phyllis, Catherine, Marija, Eva, Bertha, Hedwig, Harriet, Ingeborg, Sigrid, Ethel, Velin, Tillie, Emma), (Marion, Alma, Charlotte, Mary, Ethel, Alice, Maria, Julie, Marian, Ruth, Martha, Mary, Jessie, Amy, Juliette, Elizabeth, Alfrida, Margaret, Alice, Cordelia, Marion, Gretchen, Mabel, Mary, Maria, Margit, Eugenie, Amy, Elsie, Hanora, Hanora, Catherine), Juliet, Elizabeth, Anna, Augusta, Katie, Georgette, Manca, Katherine, Madeleine, Saiide, , Alice, Caroline, Edwina, Annie, Lillian, Margareth, Pieta, Elisabeth, Margaret, Susan, Anna, Joan, Jane, Lucile, Anna, Mary, Mary), Eliza, Virginia, Elisabeth, Banoura, Vera, Anna, Stella, , Rosalie, Charlotte, Ellen, Bertha, Ebba, Wendla, Clara, Beila), Martha, Selini, Sara, Augusta, Edwiga, Nourelain, Mary, Lilian, Leah, Mary, Latifa, Margaret, Dorothy, Karolina), Asuncion, Sallie, Hannah, Adele, Lily, Imanita, Gerda, Margaret, Margaret, Catherine